.header {
  &__top-bar {
    background-color: #fff;
    color: #000;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
  }
  &__contact {
    // display: flex;
    // align-content: space-between;
    &-item {
    }
  }
  &__center {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    & img {
      width: 320px;
      height: 70px;
    }
    & button {
      width: 13vh;
    }
  }

  &__nav-menu {
    background: #f2f2f2;

    &__nav-items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & a {
        font-size: 1.25em;
        display: block;
        padding: 10px;
      }
    }
  }
}
