<header>
  <!-- barra de topo -->
  <div class="header__top-bar">
    <section class="header__contact">
      <p class="header__contact-item">
        Atendimento ao cliente: <vtex.cmc:IgorCantelmoINFOPhone />
      </p>
      <p class="header__contact-item">Whatsapp: <vtex.cmc:IgorCantelmoWpp /></p>
    </section>
    <section>
      <a href="/"><i class="fas fa-bars"></i>Meus <b>Pedidos</b></a>
    </section>
  </div>

  <!-- barra do meio -->
  <div class="header__center">
    <img src="/arquivos/igor-cantelmo-logo-eplus.png" alt="logo" />
    <input type="search" name="search" placeholder="Digite Aqui" />
    <button><vtex.cmc:IgorCantelmoSVGLupa /></button>
  </div>
  
  <!-- menu de navegação -->
  <nav class="header__nav-menu">
    <ul class="header__nav-items">
      <li><a>TEST CATEGORY</a></li>
      <li><a href="#">DESENVOLVIMENTO</a></li>
      <li><a href="#">IMPLANTAÇÃO</a></li>
      <li><a href="#">DESIGN</a></li>
      <li><a href="#">MARKETING</a></li>
      <li><a href="#">SUPORTE</a></li>
    </ul>
  </nav>
</header>
